<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386781325003-hbkjfmtgl02upfe1hknfo2j1hmt8nv44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386781325003-hbkjfmtgl02upfe1hknfo2j1hmt8nv44</string>
	<key>API_KEY</key>
	<string>AIzaSyBZLWLqEEnGaaPoPi0sh295QE66j-1O15g</string>
	<key>GCM_SENDER_ID</key>
	<string>386781325003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilsonding.synChroma</string>
	<key>PROJECT_ID</key>
	<string>synchroma-ea381</string>
	<key>STORAGE_BUCKET</key>
	<string>synchroma-ea381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:386781325003:ios:ca17be1a3a785b74</string>
	<key>DATABASE_URL</key>
	<string>https://synchroma-ea381.firebaseio.com</string>
</dict>
</plist>